* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}
 
html{
    scroll-behavior: smooth;
}

/* Styling for index page */
.banner {
    width: 100vw;
    height: 30vw;
    background-image: url(Simple\ Work\ LinkedIn\ Banner.png);
    background-repeat: none;
    background-size: cover;
    position: relative;
}


.banner >h1 {
    padding-top: 22%;
    text-align: center;
    color: goldenrod;
}

.head-pic {
    width: 15vw;
    border-radius: 50%;
    position: absolute;
    left: 42.5vw;
    top: 5vw;
}

.navigation-bar {
    width: 100vw;
    background-color: black;
    color: cadetblue;
    position: sticky;
    top: 0;
    z-index: 30; 
}

.signs {
    color: cadetblue;
    text-decoration: none;
}

.signs:visited {
    color: darkcyan;
}

.signs:hover{
    color: whitesmoke;
    font-weight: bold;
}

.menu1 >li {
    
    padding: 10px;
    font-size: 1.2rem;
    display: inline-block;
}

.menu1{
    display: inline;
    padding-left: 4%;

}

.menu2 > li {
    padding: 10px;
    font-size: 1.2rem;
    display: inline-block;
}
.menu2{
    display: inline;
    position: absolute;
    right: 5%;
}

.gray-section{
    background-color: lightblue;
    width: 70vw;
    height: 100vh;
    position: relative;
    left: 15vw;
    box-sizing: border-box;
}

i {
    color: black;
}
article {
    width: 35%;
    height: 20%;
    border: solid 2px cadetblue;
    border-radius: 10px;
    font-size: .67rem;
    text-align: justify;
    margin: 2%;
    box-sizing: border-box;
    padding:3%;
    background-color: rgb(219, 231, 231);
    overflow: hidden;
}



.vl {
    border-left: 1px solid rgb(219, 231, 231);
    height: 90vh;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 5%;
  }
#lorem1{
    position: absolute;
    left:0;
}

#lorem1-bullet{
    color: cadetblue;
    height: 5%;
    position: absolute;
    top: 13%;
    left:50%;
    margin-left: -10.8px;
    padding: 0;
    z-index: 10;
}

#lorem3-bullet{
    color: cadetblue;
    height: 5%;
    position: absolute;
    top: 61%;
    left:50%;
    margin-left: -10.7px;
    padding: 0;
    z-index: 10;
}

#lorem2-bullet{
    color:rgb(197, 132, 52);
    height: 5%;
    position: absolute;
    top: 35%;
    left:50%;
    margin-left: -10.7px;
    padding: 0;
    z-index: 10;
}

#lorem4-bullet {
    color:rgb(197, 132, 52);
    height: 5%;
    position: absolute;
    bottom: 11%;
    left:50%;
    margin-left: -11px;
    padding: 0;
    z-index: 10;
}

#lorem2{
    position: absolute;
    right: 0;
    top:25%;
    border: 2px solid rgb(197, 132, 52);
}
#lorem3 {
    position: absolute;
    left: 0;
    top: 50%;
}

#lorem4 {
    position: absolute;
    right: 0;
    bottom:0%;
    border: 2px solid rgb(197, 132, 52);
}

.hover-box-section {
    background-color: lightblue;
    width: 70vw;
    height: 70vh;
    position: relative;
    left: 14.5vw;
    margin:10px;
    
    box-sizing: border-box;
    margin-bottom: 60px;
}
 
.colors {
    width: 33vw;
    height: 28vh;
    display: inline-block;
    border-radius: 15px;
    padding: 2%;
    padding-top: 8%;
    overflow: hidden;
    margin: 1%;
}

#hover1 {
    background-color: rgb(245, 170, 57);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

#hover1:hover {
    z-index: 20;
}

#hover2 {
    background-color: rgb(20, 160, 160);
    position: absolute;
    left: 18.5vw;
    top: 14vh;
    z-index: 10;
}

#hover2:hover {
    z-index: 20;
}

#hover3{
    background-color: violet;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 15;
    text-overflow:clip;
    /* overflow: hidden; */
}

#hover3:hover {

    position: absolute;
    right: 3.5vw;
    bottom: 5vw;
    z-index: 20; 
}

.foot {
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed;
    bottom: 0%;
    z-index: 25;
    margin-top: 25px;
}

#home-button {
    background-color: rgb(245, 170, 57);
    display: inline-block;
    width: 50px;
    height: 40px;
    padding-top: 10px;
    padding-left: 8px;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 20px;
    position: absolute;
    right: 10px;
    top: 9px;
}

#home-button:visited {
    color: cornsilk
}

#home-button:hover {
    background-color: cadetblue;
   
}

/* styling for other pages */

.cropped-banner {
    height: 10vw;
    background-image: url(Simple\ Work\ LinkedIn\ Banner.png);
    background-repeat: none;
    background-size: cover;
}

.gray-section-cropped {
    background-color: lightblue;
    width: 70vw;
    height: 70vh;
    position: relative;
    left: 15vw;
    box-sizing: border-box;
}